/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    font-family:    "Apercu",
                    Avenir,-apple-system,BlinkMacSystemFont,
                    "Helvetica Neue",Helvetica,"Calibri",
                    "Roboto",Arial,sans-serif;
}

a.link_spacer{
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: #0000ff;
}

.btn1{
    padding: 10px 15px;
    color: #0000ff ;
    border: 1px solid #0000ff;
    font-size: 20px;
    font-weight: 400;
    margin-right: 50px;
    border-radius: 5px;
    background-color: #fff;
    font-family: Calibri;
}

.btn1:hover{
    background-color:  #cfcff5;
}

body{
    height: 15000px ;
}
/* CALL UPON */


.heading1{
    font-size: 46px;
    font-size: 200;
    line-height: 1.6;
    padding: 10px 0;   
    font-family: 'Calibri';
}

.paragaraph{
    font-size: 21px;
    font-family: 'Calibri';
    line-height: 1.6;
    font-size: 400;
    letter-spacing: 1px;
}



header{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background-color:#fff;
    z-index: 1;
}

nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: inherit;
}

nav a:hover{
    color: rgb(0, 0, 0);
}

.logo{
    width: 10%;
}

.logo img {
    width:100px;

}

.leftnav{
    width:50%;
}

.rightnav{
    width:40%;
    text-align: right;
}

.leftnav a, .rightnav a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
    font-weight: normal;
    font-family: Calibri;
}

#sec1{
    width: 90%;
    padding-top: 100px;
    margin: auto;
    justify-content: center;
}

.heroImage{
    height: 700px;
    background-image: url("../img/Banner_image.jpg");
    width: 80%;
    display: block;
    position: relative;
    border-radius: 4px;
    background-color: #e3e3e3;
    right: 0;
    margin-left: auto;
}

.herolocation {
    position: absolute;
    top: 200px;
    left: 70px;
    width: 30%;
    border-radius: 4px;
    height: 400px;
    border: 3px solid whitesmoke;
    background-color: #fff;
    padding: 50px 30px;
}

select {
    width: 100%;
    padding: 20px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Calibri';
}

input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Calibri';
}

input[type=submit]:hover {
    background-color: darkblue;
}


#sec2{
    width: 90%;
    padding-top: 100px;
    margin: auto;
    font-family: 'Calibri';
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header1_left{
    font-size: 18px;
}

.header1_right{
    font-size: 18px;
}
a:hover{
    text-decoration: underline;
    color: #0000ff;
}

.brand{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.brand_item{
    width: 21.5%;
    height: 170px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-evenly;
    font-size: 12px;
}

.brand_item:hover{
    box-shadow: 0 0 2px 2px #ebebeb;
    transition: all 200ms ease-out;
    scale: 1.2;
}

.brand_image{
    width: 50%;
}

.brand_image img {
    width: 80%;
}


.brand_text{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.brand_text .h6{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 2px;
    height: 30%;
    font-family: 'Roboto';
}
.brand_text .p{
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 5px;
    font-weight: 500;
    height: 30%;
    font-family: 'Calibri';
    letter-spacing: 1px;
    color: gray;
}

.likes{
    display: flex;
    border: 0.5px solid #cfcfcf;
    border-radius: 4px;
    padding: 5px 2px;
    width:fit-content ;
    align-items: center;
    /* justify-content: space-evenly; */
    font-family: 'Consolas';
}

.likes img{
    width: 12px;
    margin: 0 3px 0 0;
}

#sec3{
    width: 100%;
    background-color: #f7f7f7;
    height: 500px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    
}

.text_area{
    width: 30%;
    height: 100%;

}

.map{
    width: 60%;
    height: 100%;
}

.map img{
    width: 100%;
    border-radius: 5px;
}

.text_area h2, h3, p, a {
    font-family: 'Calibri';

}
.text_area h3{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}

.text_area h2{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
}

.text_area p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

#sec4{
    width: 100%;
    margin-top: 80px;
}

.sub_sec1{
    width: 70%;
    margin-left:70px ;
}

.sub_sec1 h2{
    font-size: 36px;
    padding-bottom: 30px;
}

.sub_sec1 p{
    font-size: 23px;
    font-weight: 500;
    line-height: 1.8;
    width: 90%;
}

.sub_sec2{
    display: flex;
    width: 90%;
    margin-top: 90px;
    justify-content: space-between;
    margin: auto;
}

.webapp{
    width: 15%;
    height: 100px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    
}